@model MvcRecordStore.Models.ViewModels.LabelCreateVM

@{
    ViewData["Title"] = "Create";
    Layout = "../Admin/_AdminLayout.cshtml";
}

<div class="row mt-4">
    <div class="col-md-8 mx-auto">
        <div class="card border rounded-0 border-2 shadow-sm">
            <div class="card-header bg-dark text-white">
                <h5>Create Label</h5>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Country" class="control-label"></label>
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary mt-2" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}