@model MvcRecordStore.Models.Label

@{
    ViewData["Title"] = "Delete";
    Layout = "../Admin/_AdminLayout.cshtml";
}

<div class="row mt-4">
    <div class="col-md-8 mx-auto">
        <div class="card border rounded-0 border-2 shadow-sm">
            <div class="card-header bg-dark text-white">
                <h5>Delete Label</h5>
            </div>
            <div class="card-body">
                <h3>Are you sure you want to delete this label?</h3>
                <div class="form-group">
                    <label>Name</label>
                    <p class="form-control-static">@Model.Name</p>
                </div>
                <div class="form-group">
                    <label>Country</label>
                    <p class="form-control-static">@Model.Country</p>
                </div>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="ID" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-controller="Admin" asp-action="Labels" class="btn btn-secondary">Back to Labels</a>
                </form>
            </div>
        </div>
    </div>
</div>