html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.jumbotron {
  color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.75);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

.dropdown-menu:hover {
  --bs-dropdown-link-hover-color: var(--bs-secondary-color);
  --bs-dropdown-link-hover-bg: #3763f4;
}

.pagination
{
  --bs-pagination-color: var(--bs-secondary-color);
  --bs-pagination-border-color: #3763f4;
  --bs-pagination-bg: #3763f4;
  --bs-pagination-hover-color: black;
  --bs-pagination-hover-border-color: #19f5aa;
  --bs-pagination-hover-bg: #19f5aa;
  --bs-pagination-active-color: var(--bs-secondary-color);
  --bs-pagination-active-bg: #162862;
  --bs-pagination-active-border-color: #162862;
  --bs-pagination-focus-color: black;
  --bs-pagination-focus-bg: #19f5aa;
  --bs-pagination-focus-border-bg: #19f5aa;
  --bs-pagination-focus-box-shadow: #19f5aa;
  --bs-pagination-disabled-bg: #162862;
  --bs-pagination-disabled-border-color: #162862;
}